<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CMSTestRestrictedCategories" value="" />
    <add key="CMSTestExcludedCategories" value="LongRunning;SocialMarketingThirdParty;DurationMeasurement;AssemblyRepeated" />
    <add key="CMSLimitAssemblyDiscovery" value="true" />
    <add key="CMSTestMacroEvaluationTimeout" value="20000"/>
    <add key="CMSTestLicenseKey" value="DOMAIN:localhost
PRODUCT:CX11
EXPIRATION:00000000
SERVERS:0
kfZLWjubGDdPH5bYJUpGl5On5LSqdkJt48FaPkU7lkZoFLXkPiqwtYSsb9PZC00AfF7BRWLEegFKdWgjTWE8NlvhoysijE2fioXA8ect7pHZX4RiR/Il+t2oQuWcbY5sTQeNPyk6/OAp/70EOzRDZ6Vgtx4oYf4ckYvq7PK/yHDUJ2yQVmFN6wsELKYG5+LKRnUYlHLAY7lqOoGWg3bSv/EkhXUzUTjarYAYQc9VCkzCg8eyjWR6+bcFiaJIt7Wn3QZd7uxgarVuT0byC2uJMYe8m0qX6xbrzwa9xtXvJF5TJEzJWnBbPsGfKEKz3W19Q7AD5IOqXkorCYZ3R9mnKA==" />
  </appSettings>
  <connectionStrings configSource="ConnectionStrings.config" />
</configuration>