<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CMSTestLicenseKey" value="DOMAIN:localhost
PRODUCT:CX10
EXPIRATION:00000000
SERVERS:0
JFM736MHBjKbPHqrtg66tRG8LINNwSc+VxjQIQ9n8Vi4u6qZlVlbrweW44Hl6ECKTFyXqTFh7nDVtRfps2w2c8/ZOAQ2G6WyQ0W7lCCgX82KxrL3BLDXu0TVdYU3ADPhjlAAnW0uIMoBcx0SYVipeaRqadZ5HjgXLJACAMn+Hs4gix36x211jwLSWlWeD7v6QhcbDFl36PVult6myDt777olkFSZaMcjL8AtRji99ovFIPnAg8sUShSxqVq/ztX6P4q/s9hKA7dkxsOKlj3LbxepyWf/GhqCeYZyC7diGU21lo0GIS3paZEcK4W24iJpfLxW3tWADfUQ7ADw0PiW9g==" />
  </appSettings>
</configuration>